.SliderMovies{
  height: 400px;

  &Movie{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    &-Info{
      display: flex;
      align-items: flex-end;
      height: 100%;
      padding-bottom: 40px;

      > div {
        background: #a7a7a7cf;
        margin: 0 auto;
        text-align: center;
        width: 50%;
        padding: 20px;
      }
    }
  }
}