.Movie{
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &Dark{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
  }

  > .ant-row{
    height: 100%;
    display: flex;
    align-items: center;
  }

  &Poster{
    height: 70%;

    div{
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &Info{
    height: 70%;
    color: #ffffff;

    &Header{
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1{
        color: #ffffff;
        margin: 0;
        font-size: 60px;

        span {
          font-size: 20px;
          margin-left: 10px;
          opacity: 0.5;
        }
      }
      button {
        height: 100%;
        background-color: transparent;
        color: #ffffff;
        border: 0;
        font-size: 25px;

        &:hover,
        &:focus,
        &:active{
          background-color: transparent;
          color: turquoise;
        }
      }
    }

    &Body{
      margin-top: 50px;

      h3{
        color: #ffffff;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }
}